@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Briem Hand", cursive;
}
#mainWrapper{
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainWrapper>article{
    height: 350px;
    width: 60%;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}
#mainWrapper>article>section{
    display: flex;
    padding: 10px;
    gap: 20px;
}
#formWrapper,#listWrapper{
    width: 50%;
}
#formWrapper>form>.form-group{
    padding: 10px;
}
#formWrapper>form>.form-group>label{
    font-size: large;
}
#formWrapper>form>.form-group>input{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 4px;
}
#formWrapper>form>.form-group>button{
    padding: 5px 20px;
    border:none;
    background-color: cadetblue;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
#formWrapper>form>.form-group>button:hover{
    background-color: black;
    color: wheat;
}
#listWrapper{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}
#listWrapper::-webkit-scrollbar{
    display: none;
}
#todoWrapper{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px white;
}
#todoWrapper > section{
    padding: 5px 0;
    display: flex;
    gap: 10px;
}
#todoWrapper>section>button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}